testing-env/.testing.json.backup
[{"id":"b3549a85.518738","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"bc3f71ba.9f572","type":"MSSQL Connection","name":"Testing","server":"localhost","port":"1433","authType":"default","domain":"","database":"test","poolMin":"1","poolMax":"10","poolIdleTimeoutMillis":"30000","requestTimeout":"15000","connectionTimeout":"15000","connectionRetryInterval":"3000"},{"id":"478850ca.12907","type":"MSSQL Execute","z":"b3549a85.518738","name":"","connection":"bc3f71ba.9f572","querySource":"auto","command":"SELECT * FROM test;","deliveryMethod":"direct","maxbatchrecords":"100","outputPropType":"msg","outputProp":"payload","x":460,"y":460,"wires":[["299ba491.73cd6c"]]},{"id":"37220777.964028","type":"inject","z":"b3549a85.518738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":460,"wires":[["478850ca.12907"]]},{"id":"299ba491.73cd6c","type":"debug","z":"b3549a85.518738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":460,"wires":[]},{"id":"2c1aa24f.f8474e","type":"MSSQL Execute","z":"b3549a85.518738","name":"","connection":"bc3f71ba.9f572","querySource":"auto","command":"INSERT INTO test (name) VALUES ('Fred');","deliveryMethod":"streaming","maxbatchrecords":"100","outputPropType":"msg","outputProp":"payload","x":460,"y":320,"wires":[["56d2259c.8cc4ac"]]},{"id":"b7390101.ec153","type":"inject","z":"b3549a85.518738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":320,"wires":[["2c1aa24f.f8474e"]]},{"id":"56d2259c.8cc4ac","type":"debug","z":"b3549a85.518738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":320,"wires":[]},{"id":"a9dba6c6.9b00d8","type":"comment","z":"b3549a85.518738","name":"Insert","info":"","x":250,"y":280,"wires":[]},{"id":"dab0efba.c45d4","type":"comment","z":"b3549a85.518738","name":"Query","info":"","x":250,"y":420,"wires":[]},{"id":"134dc8e4.51bf57","type":"MSSQL Execute","z":"b3549a85.518738","name":"Error Command","connection":"bc3f71ba.9f572","querySource":"auto","command":"SELECT * FROM test WHERE;","deliveryMethod":"direct","maxbatchrecords":"100","outputPropType":"msg","outputProp":"payload","x":460,"y":760,"wires":[["228986da.1f378a"]]},{"id":"5d6489b5.855fd8","type":"inject","z":"b3549a85.518738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":760,"wires":[["134dc8e4.51bf57"]]},{"id":"228986da.1f378a","type":"debug","z":"b3549a85.518738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":760,"wires":[]},{"id":"75a4a615.1d8858","type":"comment","z":"b3549a85.518738","name":"Error","info":"","x":250,"y":720,"wires":[]},{"id":"1256299c.d0c436","type":"catch","z":"b3549a85.518738","name":"","scope":["134dc8e4.51bf57"],"uncaught":false,"x":450,"y":840,"wires":[["a98d4f37.1977f"]]},{"id":"a98d4f37.1977f","type":"debug","z":"b3549a85.518738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":840,"wires":[]},{"id":"69bfb545.5aab8c","type":"MSSQL Execute","z":"b3549a85.518738","name":"Streaming Out","connection":"bc3f71ba.9f572","querySource":"auto","command":"SELECT * FROM test;","deliveryMethod":"streaming","maxbatchrecords":"2","outputPropType":"msg","outputProp":"payload","x":460,"y":560,"wires":[["dde860e8.e13d1","d3f5ec5b8163f053"]]},{"id":"c00813fc.6ddb3","type":"inject","z":"b3549a85.518738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":560,"wires":[["69bfb545.5aab8c"]]},{"id":"dde860e8.e13d1","type":"debug","z":"b3549a85.518738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":560,"wires":[]},{"id":"d472622.4170ba","type":"comment","z":"b3549a85.518738","name":"Query with streaming","info":"","x":300,"y":520,"wires":[]},{"id":"796e81bfb802c588","type":"MSSQL Control","z":"b3549a85.518738","name":"","targetNodeId":"","action":"break","x":900,"y":600,"wires":[]},{"id":"d3f5ec5b8163f053","type":"MSSQL Execute","z":"b3549a85.518738","name":"","connection":"bc3f71ba.9f572","querySource":"auto","command":"SELECT * FROM test;","deliveryMethod":"streaming","maxbatchrecords":"2","outputPropType":"msg","outputProp":"payload","x":680,"y":620,"wires":[["796e81bfb802c588"]]}]